<a href="https://colab.research.google.com/github/Victory567/lab-data-cleaning-and-wrangling/blob/master/Untitled2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [ ]:
df = pd.DataFrame(np.random.randn(100, 3))

import numpy as np
from scipy import stats
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

           0         1         2
0   0.422222 -0.550881  0.156691
1   1.157367  0.655230  0.185892
2   0.134923 -0.801095  0.415732
3   1.352093  1.881590  0.877073
4   0.505024  0.255781  0.263105
..       ...       ...       ...
95 -1.332813 -0.076146 -0.838260
96  1.242079 -0.904886 -0.127631
97 -1.328125  0.893306  1.435426
98  1.363954  0.220512 -0.176234
99 -0.448078  0.537004  0.375873

[99 rows x 3 columns]

In [ ]:
df = pd.DataFrame({'Data':np.random.normal(size=200)})
df[np.abs(df.Data-df.Data.mean()) <= (3*df.Data.std())]
df[~(np.abs(df.Data-df.Data.mean()) > (3*df.Data.std()))]

         Data
0    0.149541
1   -0.119476
2   -1.379348
3    1.906499
4    1.436959
..        ...
195 -1.092728
196 -0.514975
197 -1.562325
198  0.174759
199 -1.176120

[200 rows x 1 columns]

In [ ]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] > fence_low) & (df_in[col_name] < fence_high)]
    return df_out

In [ ]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

In [ ]:
X = df.select_dtypes(np.number)

In [ ]:
 scaler = MinMaxScaler()
X_num_transform=scaler.fit_transform(X)

In [ ]:
X_num_transform

array([[0. , 0. , 0. ],
       [0.5, 0.5, 0.5],
       [1. , 1. , 1. ]])

In [ ]:
import pandas as pd
>>> df = pd.DataFrame({'numeric': [1, 2, 3], 'not_numeric': ['A', 'B', 'C']})
>>> df['numeric'].dtype.kind in 'biufc'
>>> True
>>> df['not_numeric'].dtype.kind in 'biufc'
>>> False

False

In [ ]:
for col in df.select_dtypes('object'):
    print(df[col].value_counts(), '\n')

A    1
B    1
C    1
Name: not_numeric, dtype: int64